<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>User Page</title>
</head>

<body>
<header class="navbar sticky-top navbar-dark bg-dark p-0 shadow">
    <a class="navbar-brand col-md-3" href="#" id="userInfo"> </a>
    <div class="navbar-nav">
        <div class="navbar-item">
            <form  action="/logout" method="POST">
                <button class="btn nav-link bg-dark" type="submit"> Logout</button>
            </form>
        </div>
    </div>
</header>
<br/>

<div class="row">
    <nav class="col-md-2 d-md-block d-none">
        <ul class="nav flex-column">
            <div class="dashboard-rules" sec:authorize="hasAuthority('ROLE_ADMIN')">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Admin
                    </a>
                </li>
            </div>
            <li class="nav-item">
                <a class="nav-link active bg-primary text-white"  href="/user">
                    User
                </a>
            </li>
        </ul>
    </nav>

    <div class="col-md-10">
        <h2>User information-page</h2>
        <h4>About User</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Surname</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody id="table-body-user">
            <tr>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>const urlBar = 'http://localhost:8080/api/users/header'

const urlShowUserInfo = 'http://localhost:8080/api/user'

const header = document.getElementById('userInfo')

const tb = document.getElementById('table-body-user')

function getAuthentication() {
    fetch(urlBar)
        .then(res => res.json())
        .then(user => {
            let role = user.username + ' with roles: '
            user.roles.forEach(r => {
                role+=r.name.replace('ROLE_', ' ')
            })
            header.innerHTML = role
        })
}
getAuthentication()

let outPut = ''
function fillUserInfo(user) {
    outPut += ` <tr><td>${user.id}</td>
                                    <td>${user.username}</td>
                                    <td>${user.surname}</td>
                                    <td>${user.age}</td>
                                    <td>${user.email}</td>
                                    <td>${user.rolesToString}</td>
                                </tr>`;
    tb.innerHTML = outPut
}

fetch(urlShowUserInfo)
    .then(res => res.json())
    .then(res => fillUserInfo(res))</script>
</body>
</html>